.ListItem {
  border: 1px solid #EEE;
  position: relative;
  padding: 10px;
}

.ListItem + .ListItem {
  margin-top: 10px;
}

.ListItem .title {
  margin: 0 0 5px;
}

.ListItem .right {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
